<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro site em Node.js e Express.js</title>
</head>
<body>
    <h1>Bem-vindo a pagina de produtos</h1>
    <hr>
    <h3>Confira nossos produtos</h3>

    <!--Exibindo uma variavel  JAvaScript dentro do html-->
    <!--Comentario no EJS <%# %> -->
    <%#= produto/5.

    <% if (produto) {%>
     <p><%= produto %></p>
    <% } %>


    <!--percorrendo o vetor atraves do forEach-->

    <%listaProdutos.forEach(function(produto){%>
<p> <%= produto %> </p>

    <% }) %>
    <p><a href="/">Voltar para página inicial</a></p>
</body>
</html>